tänne piti vissin kirjotella omia ajatuksia?
Selvitä kuinka accordionista saa vaihdettua pohjavärin.
Onko mahdollista pienentää karusellia.
miksi navigointiin tulee vaaleat reunat vaikka ei pitäs tulla.
