.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-collapse {
    background-color: rgb(215, 203, 178);
}
.navbar-light .navbar-toggler {
    color: rgb(215, 203, 178);
    border-color: antiquewhite;
}
.navbar-toggler{
    border: 2px solid transparent;
}
.col{
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    
}
.carousel{
    align-content: center;
    
}
.headline{
    text-align: center;
}
#infoboxi {
    border: 2px solid ;
    border-color: antiquewhite;
    margin-left: 10px;
    margin-right: 10px;
}
.accordion-body{
    color: rgb(113, 113, 106);
}
.accordion-button{
    color: rgb(147, 141, 133);
}
body{
    background-color: rgb(238, 237, 231);
}

    