.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-collapse {
    background-color: grey;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: orange;
}
.navbar-toggler{
    border: 2px solid transparent;
}