.navbar{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar-collapse {
    background-color: grey;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgb(30, 21, 4);
}
.navbar-toggler{
    border: 2px solid transparent;
}
.col{
    text-align: center;
    margin: 10px;
    padding-top: 10px;
    border: 2px solid;
}
.carousel{
    align-content: center;
}